<!DOCTYPE html>
<html data-ng-app>

<!-- HEADER -->
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootswatch/bootstrap.css">
    <link rel="stylesheet" href="bootswatch/font-awesome.min.css">
    <link rel="stylesheet" href="bootswatch/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="bootswatch/html5shiv.js"></script>
      <script src="bootswatch/respond.min.js"></script>
    <![endif]-->
    
    <script src="bootswatch/jquery.min.js"></script>
	<script src="bootswatch/bootstrap.min.js"></script>
	<script src="bootswatch/bootswatch.js"></script>
    
	<script src="./javascripts/angular.min.js"></script>
	<script src="./javascripts/MenuCtrl.js"></script>
	<script src="./javascripts/Agenda.js"></script>
	
	<script type="text/javascript">
		$(function() {
			$("#btn-show-modal").click(function(e) {
				e.preventDefault();
				$("#dialog-example").modal("show");
			});
		});
	</script>

    <title>Git Kata 2 - Start</title>
</head>

<body>

    <!-- MENU -->
	<div class="navbar navbar-default navbar-fixed-top" data-ng-controller="MenuCtrl">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="./index.html">Git Kata 2</a>
	    </div>
	    <div class="navbar-collapse collapse navbar-responsive-collapse">
	      <ul class="nav navbar-nav">
	        <li data-ng-repeat="menu in menus">
			  <a href="{{menu.href}}">{{menu.label}}</a>
			</li>
	      </ul>
	    </div><!-- /.nav-collapse -->
	  </div><!-- /.container -->
	</div><!-- /.navbar -->

<div class="container">
<section id="main_content">

<center>
<h1>Agenda</h1>
</center>

<hr/>

<div data-ng-controller="Agenda">
<table class="table table-hover">
	<!-- AGENDA HEADERS -->
	<thead>
		<tr>
			<th data-ng-repeat="header in headers">{{ header }}</th>
		</tr>
	</thead>
	<tbody>
	<!-- AGENDA ROWS -->
	<tr data-ng-repeat="row in rows">
		<td>{{ row.time }}</td>
		<td data-ng-repeat="kata in row.katas" colspan="{{ kata.colspan }}" >
			{{ kata.mentor }} <br/>
			<a href="#" data-toggle="modal" title="{{ kata.shortDesc }}" data-target="#kata{{ kata.id }}">
				{{ kata.title }}
			</a>
		</td>
	</tr>
	</tbody>
</table>
</div>

<hr/>

</section>
</div>
 
<!-- Modal -->

<div class="modal fade" id="kata0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>More details about this kata will be available soon...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="kata1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Kata Title</h4>
      </div>
      <div class="modal-body">
        <p>Kata Description</p>
        <p>Lorem ipsum dolor</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="kata2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Kata Title</h4>
      </div>
      <div class="modal-body">
        <p>Kata Description</p>
        <p>Lorem ipsum dolor</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="kata3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Kata Title</h4>
      </div>
      <div class="modal-body">
        <p>Kata Description</p>
        <p>Lorem ipsum dolor</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 
</body>
</html>
