<!DOCTYPE html>
<html ng-app>

<!-- HEADER -->
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootswatch/bootstrap.css" media="screen">
    <link rel="stylesheet" href="bootswatch/font-awesome.min.css">
    <link rel="stylesheet" href="bootswatch/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="bootswatch/html5shiv.js"></script>
      <script src="bootswatch/respond.min.js"></script>
    <![endif]-->
	
	<script src="bootswatch/jquery.min.js"></script>
	<script src="bootswatch/bootstrap.min.js"></script>
	<script src="bootswatch/bootswatch.js"></script>
	
	<script src="./javascripts/angular.min.js"></script>
	<script src="./javascripts/MenuCtrl.js"></script>

    <title>Git Kata 2 - Start</title>
</head>

<body>

    <!-- MENU -->
	<div class="navbar navbar-default navbar-fixed-top" ng-controller="MenuCtrl">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="./index.html">Git Kata 2</a>
	    </div>
	    <div class="navbar-collapse collapse navbar-responsive-collapse">
	      <ul class="nav navbar-nav">
	        <li ng-repeat="menu in menus">
			  <a href="{{menu.href}}">{{menu.label}}</b></a>
			<!-- 
 			  <a href="{{menu.href}}" class="dropdown-toggle" data-toggle="dropdown">{{menu.label}}<b class="caret"></b></a>
 			-->
			  <!-- 
			  <ul class="dropdown-menu">
			    <li ng-repeat="submenu in menu.submenus"><a href="{{submenu.href}}">{{submenu.label}}</a></li>
			  </ul>
			   -->
			</li>
	      </ul>
	    </div><!-- /.nav-collapse -->
	  </div><!-- /.container -->
	</div><!-- /.navbar -->
	
	
	<!-- ### CONTENT ### -->
	
	<div class="container">
	   <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-2">
            <img class="img-responsive" alt="Git Kata 2" src="./images/git-kata-logo.png"/>
          </div>
          <div class="col-lg-4">
            <h1>Git Kata 2</h1>
            <p class="lead">Git workshops in kata format</p>
            <p class="lead">#gitkata</p>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
            	$ cd ~/workshops<br/>
            	$ mkdir gitkata2<br/>
            	$ cd gitkata2<br/>
            	$ mkdir interactive-rebase<br/>
            	$ cd interactive-rebase<br/>
            	$ git init<br/>
            	Initialized empty Git repository in ~/user/workshops/gitkata2/interactive-rebase/.git/<br/>
            </div>
          </div>
        </div>
      </div>
	</div>
	 
	<hr/>

<div class="container">
	
	<div class="row">
		<div class="col-lg-4">
			
			<!-- ### MISSSION ### -------------------------------------------------------------------------------------- -->
	        <h1 id="mission">Mission</h1>
	        <pre><code>$ git init</code></pre>
	        <p>Git is an extremely powerful tool, which (and most of you wouldn't agree with) is quite simple at it's core idea.</p>
	        <p>This workshops are there to help you master git usage, help you understand it's core ideas and create a space for sharing knowledge about Git version control system.</p>
	        <p>Welcome!</p>
		</div>
		<div class="col-lg-4">
			<!-- ### LOCATION ### --------------------------------------------------------------------------------------- -->
	        
	        <h1 id="location" class="section_header">Time and place</h1>
	        <pre><code>$ git cherry-pick LOCATION</code></pre>
	        <p>Git kata takes place on <span style="font-weight: bolder; color: #b5e853">December, 8th (Sunday) 2013</span>.</p>
	        <p>
	        	Event will be held at <a target="_blank" href="http://www.cent3.uw.edu.pl/">Centrum Nauk Biologiczno-Chemicznych (CENT III)</a>.
	        	It's located at Żwirki i Wigury 101 Street in Warsaw (<a href="http://goo.gl/UWR6Ob">Google Maps</a>, <a href="http://her.is/Z3CgN">Nokia Maps</a>)
	        </p>
	        <p>You may sleep well as we'll be starting about 11am.</p>
	        	<!-- 
	         </p>
	            
	        	 -->
		</div>
		<div class="col-lg-4">
			<!-- ### MENTORS ### ------------------------------------------------------------------------------- -->
	
	        <h1  id="mentors" class="section_header">Mentors</h1>
	        <pre><code>$ git config --global user.name </code></pre>
	        
	        <p>If You think that You can be a mentor, just <a href="contact.html">contact us</a>
	        
	        <ul>
	        	<li>Adam Pierzchała</li>
		        <li>Grzegorz Kubiak</li>
		        <li>Jakub Nabrdalik</li>
		        <li>Justyna Sadło</li>
				<li>Krzysztof Adamski</li>
				<li>Łukasz Szcz&#281;sny</li>
				<li>Mariusz Smykuła</li>
		        <li>Michał Bareja</li>
		        <li>Michał Lewandowski</li>
		        <li>Mateusz Kaczmarek</li>
		        <li>Paweł Sanjuan Szklarz</li>
			</ul>
	        <!-- 
	        <h3>Mateusz Harasymczuk</h3>
	        <p>
	            <img src="images/mentors/matt.jpg" class="mentor_photo" />
	            Hi, my name is Matt and I am an Developer Evangelist.
	            I try to commit to my work and every single task. It gives me a huge
	            satisfaction and power to live my life. Moreover I try to share my
	            passion with my colleagues and everyone around me. I really do believe
	            in team work. I hope, that I'll be able to infect you with my
	            optimism. In return I expect to learn as much as it is possible from
	            you!<br/>
	            I really do believe in Agile, Scrum, Clean Code, Strict Coding Styles
	            and Open Standards!
	        </p>
	        <br/>
	        <hr/>
	        <h3>Jakub Nabrdalik</h3>
	        <p>
	            <img src="images/mentors/jakubN.jpg" class="mentor_photo" />
	            I am a software developer who cares about Software Craftsmanship and Domain Design.
	            I've been Practicing Test-driven development and Pair programming since 2005.
	            I work at <a href="http://touk.pl">TouK</a>, where I code (Groovy and Java),
	            lead teams, manage projects and do other fun stuff. Sometimes I also give talks
	            at Java conferences, WJUG meetings, and hackathons. I strongly believe in benefits of good work,
	            clean code and maintainable software.
	            <br/>You can find my blog at <a href="http://blog.solidcraft.eu">blog.solidcraft.eu</a>.
	        </p>
	        <br/>
	        <hr/>
	        <h3>Wojtek Erbetowski</h3>
	        <p>
	            <img src="images/mentors/wojtek.jpg" class="mentor_photo" />
	            I am a co-leader of Warsaw Java User Group, organizer of Warsjava 2012, Warsaw CodeRetreat 2013,
	            NameCollision hackathon and Git kata workshops. I work in
	            <a href="http://polidea.pl">Polidea</a> as a backend development technical leader,
	            programming with Groovy, Python, Scala and Java.
	            <br/><br/>Grab a good opportunity to talk to me about upcoming dev events and Git development.
	        </p>
		<br/>
	    <hr/>
		<h3>Lukasz Siwinski</h3>
		<p>
		    <img src="images/mentors/lukasz.jpg" class="mentor_photo" />
		    <a href="http://siwinski.info">I</a> live in Warsaw, day by 
		    day planting and weeding code in 
		    <a href="http://pekao.com.pl">Pekao S.A.</a>, usually with Java 
		    on JEE platform. I consider Eclipse, Vim and Shell as my favourite 
		    tools. I'm addicted to very short aliases &amp; keyboard 
		    shortcuts.<br/><br/>
		    
		    In spare time I like to learn new tools and programming languages. 
		    Lately Git is the toy of choice and it's more and more 
		    inteteresting the more I learn about it.<br/><br/>
		    
	        Apart of above I write
		    <a href="http://blog.siwinski.info">blog</a> about things that 
		    are useful and relevant for me, learn to play the guitar 
		    and continously expand my music collection. I had lead a couple 
		    nice parties as <a href="http://rdj.pl">DJ</a>.
		</p>
	        <br/>
	        <hr/>
	
	        <h3>Kamil Trzciński</h3>
	        <p>
	            <img src="images/mentors/kamil.jpg" class="mentor_photo" />
	            I am a passionate graphics and mobile developer. I specialize in programming graphics algorithms, network and security solutions, virtualization technologies, Android and Windows Phone mobile applications. I am very keen to discover new technologies which allows me to further extend my experience. The latest of my discoveries is git, which in my opinion, is one of the best versioning tools available.
	        <br/><br/>
	        Want to find more about me? Go to: <a href="http://ayufan.eu/">http://ayufan.eu/</a>
	
	        </p>
	        <br/>
	        <hr/>
	        <h3>Michał Bareja</h3>
	        <p>
	            <img src="images/mentors/michal_bareja.jpg" class="mentor_photo" />
	            <ul>
	                <li>Java and Ruby developer who is always focused on delivering code of the highest possible quality.</li>
	                <li>Big fan of Agile methodologies, Test Driven Development and Specification by Example.</li>
	                <li>Recently joined Pragmatists team.</li>
	            </ul>
	            <br/><br/>
	            Favorite git command:
	            <br/><pre><code>git config --global branch.autosetuprebase always</code></pre>
	        <br/>
	        </p>
	        <br/>
	        <hr/>
	        <h3>Marcin Zajączkowski</h3>
	        <p>
	            <a href="http://blog.solidsoft.info/">
	                <img src="images/mentors/marcin_zajaczkowski.jpg" class="mentor_photo" />
	            </a>
	            <ul>
	                <li>I am an experienced architect who specializes in creating high quality software. Being under the impression of the Agile methodologies and the Software Craftsmanship movement, I believe in the value of good, testable and maintainable code. I aim to forge good software that makes the client delighted and the team proud of how the code itself looks.</li>
	                <li>In my teaching, as a conference speaker, college lecturer, IT mentor and trainer, I show how to guide software development effectively using tests (with TDD, pair programming, Clean Code, design patterns, etc.) and maintaining a quality-oriented development environment (with CI, Sonar, automatic deployment, etc.).</li>
	                <li>I am also a FOSS projects author and contributor, a Linux enthusiast.</li>
	                <li>I blog at: <a href="http://blog.solidsoft.info/">http://blog.solidsoft.info/</a>.</li>
	            </ul>
	
	        </p>
	        <br/>
	        <hr/>
	        <h3>Grzegorz Kubiak</h3>
	        <p>
	            <a href="http://pl.linkedin.com/in/grzegorzkubiak">
	                <img src="images/mentors/grzegorz_kubiak.jpg" class="mentor_photo" />
	            </a>
	            I am a Java developer who always tries new experiences. I have had
	            adventures with Android and C++. I have written my own domain specific
	            language with antlr3. Some time ago I have started using git. At the
	            git-kata workshops I am going to show you few interesting commands
	            which I found being very useful.
	            <br/><br/>
	            Besides all, I am also happy user of Gentoo Linux :)
	        </p>
		    <hr/>
	
	        <h3>Mateusz Grzechociński</h3>
	        <p>
	            <a href="http://about.me/mateuszgrzechocinski">
	                <img src="images/mentors/mateusz_grzechocinski.jpg" class="mentor_photo" />
	            </a>
	            <br/>
	            I started as a Java developer around 6 years ago. I was working mostly in <a href="http://javart.eu">Javart</a>,
	            on the server side, where I introduced new workflow with code-review based on git and
	            <a href="http://code.google.com/p/gerrit/">Gerrit</a>.
	            In the meantime, first Android device has appeared in my pocket.
	            Step by step I eventually moved to the mobile world
	            and have joined <a href="http://polidea.pl">Polidea</a> team recently.
	            <br/>Git followed me. No other tool has made such a difference to me as git towards svn.
	            I love its simplicity, speed and technology agnosticism!
	
	            <br/><br/>Favourite git command:
	            <pre><code>$ git rerere</code></pre>
	
	        </p>
         	-->
		
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			
			<!-- ### SPONSORS ### --------------------------------------------------------------------------------------- -->
	
	        <h1 id="sponsors" class="section_header">Sponsors</h1>
	        <pre><code>$ git help</code></pre>
	        
         	<ul>
		        <li><a href="sponsors.html#helion" target="_blank">Helion</a></li>
		        <li><a href="sponsors.html#pragmatists" target="_blank">Pragmatists</a></li>
			</ul>
	        
	        <p>Wanna be a sponsor of this event? Contact <a href="contact.html">organizers</a>
	        <!-- 
	        The event in completely free thanks to these companies:
	        <p class="sponsor">
	            <img src="images/sponsors/macoscope.png" /><br/>
	            <img src="images/sponsors/polidea.gif" /><br/>
	            <img src="images/sponsors/codility.png" /><br/>
	            <img src="images/sponsors/touk.png" /><br/>
	        </p>
	         -->
	
	        <!-- 
	        After the event we will go and have a beer.<br/><br/>
	        During the training you will be able to win some
	        beer coupons thanks to
	        <p style="text-align: center;">
	            <img src="images/sponsors/megiteam.png" style="height: 40px;"/>
	        </p>
	         -->
	
		</div>
		<div class="col-lg-4">
			<!-- ### PARTNERS ### ------------------------------------------------------------------------------- -->
			
	        <h1 id="partners" class="section_header">Partners</h1>
	        <pre><code>$ git add -p</code></pre>
	        
	        <ul>
		        <li><a href="http://warszawa.jug.pl/" target="_blank">Warszawa Java User Group</a></li>
		        <li><a href="http://jinkubator.pl" target="_blank">Jinkubator</a></li>
		        <li><a href="http://scalania.pl" target="_blank">Scalania</a></li>
			</ul>
	<!-- 
	        <p style="text-align: center;">
	            <a target="_blank" href="http://warszawa.jug.pl/"><img src="images/wjug_background.png" alt="Warszawa Java User Group"/></a>
	        </p>
    	    <p style="text-align: center;">
	            <a target="_blank" href="http://jingubator.pl/"><img src="images/wjug_background.png" alt="Jinkubator"/></a>
	        </p>
	        <p style="text-align: center;">
	            <a target="_blank" href="https://plus.google.com/105909141177271768718/posts"><img src="images/gdg.png" alt="GDG Warsaw" width="400"/></a>
	        </p>
	 -->
		
		</div>
		<div class="col-lg-4">

			<!-- ### ORGANIZERS ### -------------------------------------------------------------------------------- -->
	        
	        <h1 id="organizers" class="section_header">Organizers</h1>
	        <pre><code>$ git blame </code></pre>
	        <p style="text-align: center;">
	            <ul>
	            <li><a href="http://erbetowski.pl">Wojtek Erbetowski</a></li>
	            <li><a href="https://coderbits.com/viroos">Maciej Sawicki</a></li>
	            <li><a href="http://siwinski.info">Łukasz Siwiński</a></li>
	            <li><a href="#">Adam Chudzik</a></li>
	            <li><a href="#">Wojciech Korzeniewski</a></li>
	            <li><a href="https://github.com/kamilszymanski">Kamil Szymański</a></li>
	            </ul>
	        </p>
		
			
    	</div> 
	</div>
</div>

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45541501-1', 'gitkata.pl');
  ga('send', 'pageview');
</script>
	
</body>
</html>
